<section class="home-section" [ngClass]="message ? '' : 'home-section-fullWidth'">
	<nav>
		<div class="sidebar-button">
			<i class='bx bx-menu sidebarBtn' (click)="toggleBtn()"></i>
			<span class="pagename">Dashboard</span>
		</div>
		<div class="search-box">
			<input type="text" placeholder="Search...">
			<i class='bx bx-search'></i>
		</div>
		<div class="profile-details">
			<img src="../../../assets/profile.jpg" alt="profile">
			<span class="admin_name">Suresh Vemula</span>
		</div>
	</nav>
</section>