<!-- Signup Form -->
<section class="forms">
	<div class="form signup">
		<div class="form-content">
			<header>Signup</header>
			<form>
				<div class="field input-field">
					<input type="email" placeholder="Email" class="input form-control" id="emailId" formControlName="emailId">
				</div>

				<div class="field input-field">
					<input type="password" placeholder="Create password" class="password form-control" id="createPswd" formControlName="createPswd">
				</div>

				<div class="field input-field">
					<input type="password" placeholder="Confirm password" class="password form-control" id="confirmPswd" formControlName="confirmPswd">
					<i class='bx bx-hide eye-icon'></i>
				</div>

				<div class="field button-field">
					<button type="submit">Signup</button>
				</div>
			</form>

			<div class="form-link">
				<span>Already have an account? <a routerLink="/" class="link login-link">Login</a></span>
			</div>
		</div>
	</div>
</section>