.home-section {
  position: relative;
  background: #f5f5f5;
  width: calc(100% - 240px);
  left: 240px;
  transition: all 0.5s ease;
}

.home-section-fullWidth, .home-section-fullWidth nav {
  width: calc(100% - 60px) !important;
  left: 60px !important;
}