* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

.overview-boxes {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
	padding: 0 20px;
	margin-bottom: 26px;
}

.overview-boxes .box {
	display: flex;
	align-items: center;
	justify-content: center;
	width: calc(100% / 4 - 15px);
	background: #fff;
	padding: 15px 14px;
	border-radius: 12px;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.overview-boxes .box-topic {
	font-size: 20px;
	font-weight: 500;
}

.box .number {
	display: inline-block;
	font-size: 35px;
	margin-top: -6px;
	font-weight: 500;
}

.box .indicator {
	display: flex;
	align-items: center;
}

.box .indicator i {
	height: 20px;
	width: 20px;
	background: #8FDACB;
	line-height: 20px;
	text-align: center;
	border-radius: 50%;
	color: #fff;
	font-size: 20px;
	margin-right: 5px;
}

.box .indicator i.down {
	background: #e87d88;
}

.box .indicator .text {
	font-size: 12px;
}

.box .cart {
	display: inline-block;
	font-size: 32px;
	height: 50px;
	width: 50px;
	background: #cce5ff;
	line-height: 50px;
	text-align: center;
	color: #66b0ff;
	border-radius: 12px;
	margin: -15px 0 0 6px;
}

.box .cart.two {
	color: #2BD47D;
	background: #C0F2D8;
}

.box .cart.three {
	color: #ffc233;
	background: #ffe8b3;
}

.box .cart.four {
	color: #e05260;
	background: #f7d4d7;
}

.total-order {
	font-size: 20px;
	font-weight: 500;
}

@media (max-width: 1000px) {
	.overview-boxes .box {
		width: calc(100% / 2 - 15px);
		margin-bottom: 15px;
	}
}

@media (max-width: 550px) {
  .overview-boxes .box {
    width: 100%;
    margin-bottom: 15px;
  }
}