<div class="top-sales box">
    <div class="title">Top Seling Product</div>
    <ul class="top-sales-details">
        <li>
            <a href="#">
                <img src="../../../assets/sunglasses.webp" alt="">
                <span class="product">Vuitton Sunglasses</span>
            </a>
            <span class="price">$1107</span>
        </li>
        <li>
            <a href="#">
                <img src="../../../assets/jeans.webp" alt="">
                <span class="product">Hourglass Jeans </span>
            </a>
            <span class="price">$1567</span>
        </li>
        <li>
            <a href="#">
                <img src="../../../assets/shoes.webp" alt="">
                <span class="product">Nike Sport Shoe</span>
            </a>
            <span class="price">$1234</span>
        </li>
        <li>
            <a href="#">
                <img src="../../../assets/silk.jpg" alt="">
                <span class="product">Hermes Silk Scarves.</span>
            </a>
            <span class="price">$2312</span>
        </li>
        <li>
            <a href="#">
                <img src="../../../assets/bags.jpeg" alt="">
                <span class="product">Succi Ladies Bag</span>
            </a>
            <span class="price">$1456</span>
        </li>
        <li>
            <a href="#">
                <img src="../../../assets/womenBags.jpeg" alt="">
                <span class="product">Gucci Womens's Bags</span>
            </a>
            <span class="price">$2345</span>
        <li>
            <a href="#">
                <img src="../../../assets/runningShoe.jpg" alt="">
                <span class="product">Addidas Running Shoe</span>
            </a>
            <span class="price">$2345</span>
        </li>
        <li>
            <a href="#">
                <img src="../../../assets/shirt.jpeg" alt="">
                <span class="product">Bilack Wear's Shirt</span>
            </a>
            <span class="price">$1245</span>
        </li>
    </ul>
</div>